In [24]:
import pandas as pd
df=pd.read_csv("C:/Users/User/Desktop/Learning Data/weather_data_nyc_centralpark_2016.csv")
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [27]:
df['maximum temperature'].max()

96

In [29]:
df['average temperature'].min()

7.0

This is for data munging or wrangling in python

In [35]:
df.fillna(0, inplace=True)
df['average temperature'].mean()

57.21584699453552

In [34]:
df['date'][df['maximum temperature']==42]

0        1-1-2016
16      17-1-2016
27      28-1-2016
324    20-11-2016
348    14-12-2016
Name: date, dtype: object